/* same level as NowMarker */
#histograph-centerline
{
  position: absolute;
  width: @histograph_line_width;
  height: 0; /* initital value */
  left: 50%;
  bottom: @timeline_height;
  margin-left: -@histograph_line_width/2;
  z-index: 1;

  background-color: @color_bg_dark;
  opacity: @now_marker_opacity;
}

#histograph-canvas
{
  position: absolute;
  width: 100%;
  height: 0;
  bottom: @timeline_height;
}


// -----------------------------------------------------------------------------
// COUNTRY HISTORY

.graph-country-line
{
  stroke-width: 5px;
  stroke: @color_white;
}

.graph-country-label
{
  font-face: @primary_font_face;
  fill: @color_white;
}

.graph-hivent
{
  fill: @color_white;
}

.graph-hivent-name
{

}