#new-name-wrapper
{
  display: inline-block;
  position: absolute;
  left: 20%;
  top: 50%;
  margin: 0;
  padding: 0 @border_radius;
  border: 0;
  border-radius: @border_radius;
  background: @color_bg_light;
}

#new-name-input
{
  display: block;
  position: relative;
  height: @input_text_height;
  width: auto;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  font-size: 1.1em;
  text-align: center;
}

#newNameOK
{
  position: absolute;
  right: -(@button_diameter+@element_window_distance);
  bottom: -(@input_text_height/2);
}
