#new-name-wrapper
{
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: @border_radius;
}
.new-name-wrapper-focus
{
  box-shadow: 0 0 @shadow_radius 3px @color_active !important;
}

.new-name-input
{
  display: block;
  position: relative;
  width: auto;
  height: @input_text_height;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  box-shadow: none;
  text-align: center;
}

#newShortName
{
  font-size: @short_name_font_size;
  color: @color_white;
}

#newFormalName
{
  font-size: @formal_name_font_size;
  font-style: italic;
  color: @color_white;
}


/* prevent outline on active input element */
#new-name-wrapper:focus,
#newShortName:focus,
#newFormalName:focus
{
  outline: none;
}

#newNameOK
{
  position: absolute;
  right: -(@button_diameter+@element_window_distance);
  bottom: 0;
}
