#tt-wrapper
{
  position: absolute;
  top: 88px;
  right: @element_window_distance;
  width: @territory_tools_width;
  background-color: @color_bg_medium;
  border: @territory_tools_border_width solid @color_bg_dark;
  color: @color_white;
}

/*all direct children of wrapper*/
#tt-wrapper > *
{
  width: @territory_tools_width - 2*@territory_tools_border_width;
  margin-top: 5px;
}

.tt-title
{
  text-align: center;
}

.h1
{
  font-size: 1.5em;
  height: 1.6em;
  line-height: 1.6em;
}
.h2
{
  font-size: 1.3em;
  height: 1.4em;
  line-height: 1.4em;
}
.h3
{
  font-size: 1.1em;
  height: 1.2em;
  line-height: 1.2em;
}


.tt-button-area           /* outer div */
{
  height: @button_diameter + @element_window_distance;
  width: 100%;            /* center !!! */
  text-align: center;     /* center !!! */
}
#tt-edit-buttons-group,
#tt-finish-buttons-group  /* inner div */
{
  /* center !!! = this is the f**** solution for centering a div in a div:
  the div needs to get the width of its content
  -> that is why display has to be inline-block*/
  display: inline-block;  /* center !!! */
  float: none;
  height: @button_diameter + @element_window_distance;
  margin-right: auto;     /* center !!! */
  margin-left: auto;      /* center !!! */
}


#tt-list
{
  min-height: 55px;
}

.tt-list-entry
{
  height: 25px;
  margin-left: @element_window_distance;
  font-size: 0.9em;
}
