.buttons-group
{
}

.buttons-bottom-left
{
  position: absolute;
  bottom: 100px;
  left: @element_window_distance;
  .button
  {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.buttons-top-right
{
  position: absolute;
  top: @element_window_distance;
  right: @element_window_distance;
  .button
  {
    margin-top: 0;
    margin-right: 0;
  }
}

.buttons-group-horizontal
{
  float: left;
  .button-horizontal
  {
    float: left;
  }
}

.highContrast .buttons-bottom-left,
.highContrast .buttons-top-right, {
  .buttons-group {
    .button {
      background-color: #ece791;
      color: #000000;
      border: solid 1px #131f29;
    }
  }
}
